.container{
    display: grid;
    grid-template-areas: 'myArea myArea myArea . . .'
    'myArea myArea myArea . . . '
    ;
}


.item{
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.item1{
    grid-area: myArea;
}