.container{
    display: grid;
    grid-template-areas: 'header header header header  '
    'menu  main main right '
    'menu  footer footer footer';

}


.item{
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: menu;
}


.item3{
    grid-area: main;
    
}


.item4{
    grid-area: right;
}

.item5{
    grid-area: footer;
}