.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px;
    /* row-gap: 50px; */
    gap: 10px;
}



.item{
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

 .item1{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

.item7{
    grid-row-start:3;
    grid-row-end:5;
}


.item8{
    grid-column:3/span 2; 
} 


.item11{
    grid-column-start: 4;
    grid-row:4/span 2 ;
}