.container{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns:100px repeat(4,1fr);
    grid-template-rows: repeat(3 ,150px);
    gap: 10px;

}

.item{
    background-color: rgb(0, 255, 0);
    border: 2px solid black;
}